[submodule "third_party/depot_tools"]
	path = third-party/skia-world/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools
[submodule "third_party/skia"]
	path = third-party/skia-world/skia
	url = https://skia.googlesource.com/skia
[submodule "third-party/libvterm"]
	path = third-party/libvterm
	url = https://github.com/neovim/libvterm.git
[submodule "third-party/libxkbcommon"]
	path = third-party/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "third-party/drm"]
	path = third-party/drm
	url = https://gitlab.freedesktop.org/mesa/drm
[submodule "third-party/mesa"]
	path = third-party/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "third-party/check"]
	path = third-party/check
	url = https://github.com/libcheck/check.git
[submodule "third-party/libevdev"]
	path = third-party/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "third-party/libglvnd"]
	path = third-party/libglvnd
	url = https://github.com/NVIDIA/libglvnd.git
[submodule "third-party/libexecinfo"]
	path = third-party/libexecinfo
	url = https://github.com/fam007e/libexecinfo.git
[submodule "third-party/libpciaccess"]
	path = third-party/libpciaccess
	url = https://gitlab.freedesktop.org/xorg/lib/libpciaccess
