[submodule "third_party/depot_tools"]
	path = third-party/skia-world/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools
[submodule "third_party/skia"]
	path = third-party/skia-world/skia
	url = https://skia.googlesource.com/skia
[submodule "third-party/libvterm"]
	path = third-party/libvterm
	url = https://github.com/neovim/libvterm.git
